@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-purple-primary: #3e3052;
  --color-purple-dark: #6b5ff3;
  --color-purple-light: #aea7ff;
  --color-likes-pink: #f91880;
  --color-primary-black: #170e23;
  --color-primary-white: #fff;
}

body {
  @apply m-0 font-poppins bg-purple-primary;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
